body {
  background: #eef2f3;
  font-family: 'Poppins', sans-serif;
}

.foro-container {
  width: 80%;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.comentario {
  background: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

#nuevoComentario textarea {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}

#nuevoComentario button {
  background: #003973;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}
